.modal-add-user {
    .img-preview {
        height: 150px;
        border: 1px dashed #ccc;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ccc;

    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    .lable-upload {
        display: flex;
        gap: 5px;
        align-items: center;
        border: 1px solid red;
        width: fit-content;
        padding: 4px 10px;
        border-radius: 5px;
        background-color: rgb(222 214 214);
        border: none;
        cursor: pointer;

        &:hover {
            background-color: #ccc;
        }
    }
}